*{
    margin: 0;
    padding: 0;
}

.pics{
    width: 700px;
    display: inline-block;
}

.pokedex{
    width: 25%;
    display: inline-block;
    vertical-align: top;
    position: fixed;
}

img{
    width: 75px;
}